<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Wybierz grę</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Gra</ion-label>
          <ion-select
            [(ngModel)]="selectedGame"
            (ionChange)="onGameChange()"
            interface="popover"
          >
            @for (game of availableGames; track game.value) {
              <ion-select-option [value]="game.value">
                {{ game.label }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Utwórz nową grę</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Stwórz nową sesję gry i zaproś znajomych!</p>
        <ion-button expand="block" (click)="createGame()">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          Utwórz grę
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Dołącz do gry</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Kod gry</ion-label>
          <ion-input
            [(ngModel)]="roomCode"
            placeholder="Wprowadź kod gry"
            (keyup.enter)="joinGame()"
          ></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="joinGame()" [disabled]="!roomCode">
          <ion-icon name="enter-outline" slot="start"></ion-icon>
          Dołącz
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-toast
    [isOpen]="showToast()"
    [message]="toastMessage()"
    [duration]="3000"
    (didDismiss)="showToast.set(false)"
  ></ion-toast>
</ion-content>
